---
http_interactions:
- request:
    method: get
    uri: http://lyrics.wikia.com/api.php?action=lyrics&artist=frank%20zappa&fmt=realjson&song=inca%20roads
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Fastly-Debug-Digest:
      - 751ab16950410cbd135c99febd721e13be3e7cced1fa759e377779bcdaa1c334
    body:
      encoding: UTF-8
      string: '{"artist":"Frank Zappa","song":"Inca Roads","lyrics":"Did a vehicle
        \nCome from somewhere out there \nJust to land in the Andes? \nWas it round
        \nAnd did it have \nA motor \nOr was it \nSomething \nDifferent \n\n[...]","url":"http:\/\/lyrics.wikia.com\/Frank_Zappa:Inca_Roads","page_namespace":0,"page_id":328883,"isOnTakedownList":"0"}'
  recorded_at: Sun, 21 Feb 2016 17:15:08 GMT
recorded_with: VCR 3.0.1
